<%- include("partials/header")%>
<div class="ui message container">
    <i class="close icon"></i>
    <div class="header">
        Welcome to wordwrap. 
    </div>
    <p>  Hey! Nice to see you here.<br/>
        This is the first and basic release(v1).<br/>
        You are free to post your thoughts/blogs here.<br/>
        Basic features like user accounts/login, add, comment & delete will be added in the later updates.
    </p>
  </div>
  <div class="ui blue message container">
    <i class="close icon"></i>
    <div class="header">
        Dear user,
    </div>
    <p> Request you to take a moment, and write a blog, the developer will feel encouraged.<br>
        Use the new tab above to create a blog or click<a href="/blogs/new"><strong> here.</strong></a>
    </p>
  </div>
<div class="ui main text container">
    <div class="ui huge header">
        wraps
    </div>
    <div class="ui top attached segment">
        <div class="ui divided items">
            <% blogs.forEach((blog) => {%> 
                <div class="item">
                    
                    <div class="image">
                        <img src="/image/<%= blog.image %> " alt="<%= blog.title %> image" >
                    </div>
                    <div class="content">
                        <a class="header" href="/blogs/<%= blog._id%>"><%= blog.title %> </a>
                        <div class="meta">
                            <span><%= blog.created.toDateString() %> </span>
                        </div>
                        <div class="desciption">
                            <p><%= blog.body.substring(0,100) %>... </p>
                        </div>
                        <div class="extra">
                            <a class="ui floated basic violet button small" href="/blogs/<%= blog._id%> ">Read More
                                <i class="right chevron icon"></i>
                            </a>
                            <h4 id="author"><%= blog.author %> </h4>
                        </div>
                    </div>
                </div>
            <% });%>
        </div>
    </div>
</div>
<%- include("partials/footer") %>