<%- include("partials/header")%>
<div class="ui floating red message container">
    <div class="header">
        Please note:
    </div>
    <p>All action buttons are disabled will be up soon.</p>
  </div>
<div class="ui main container segment">
    <div class="ui huge header"><%= blog.title %> </div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui centered rounded image" src="/image/<%= blog.image %> " alt="<%= blog.title %> image" id="show_image">
            <div class="ui main container segment">
                <p><%= blog.body %> </p>
            </div>
            <!-- <div class="desciption">
                <p>//<%= blog.body %> </p>
            </div> -->
            <div class="content" id="content">
                <h3><%= blog.author %> </h3>
                <p><%= blog.created.toDateString() %> </p>
            </div>   
            <div class="ui disabled labeled button" tabindex="0">
                <div class="ui red button">
                  <i class="heart icon"></i> Like
                </div>
                <a class="ui basic red left pointing label">
                  0
                </a>
              </div>
              <div class="ui disabled large vertical animated button" tabindex="0">
                <div class="hidden content ">comment</div>
                <div class="visible content">
                  <i class="comment outline icon"></i>
                </div>
              </div>
            <a href="/blogs/<%= blog._id %>/edit" class="ui disabled orange basic button">Edit</a>
            <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST" class="ui form" id="delete">
                <button class="ui disabled red basic button" type="submit">Delete</button>
            </form>
        </div>
    </div>
</div>
<%- include("partials/footer") %>